#home-page {
    .splash-signup-btn {
        position: absolute;
        left: 25vw;
        top: 60vh;
        color: $theme-color;
        text-decoration: none;
        font-weight: bold;
        background-color: #f5f5f5;
        padding: 0.5em 1rem;
        font-size: 1.2rem;
        border-radius: 0.5rem;
        &:hover {
            outline: 2px solid $theme-color;
        }
    }
}